.header {
    background-color: white;
    
    
    border-bottom: lightgray 1px solid;
    justify-content: space-between;
    display: flex;
}
.header img {
    object-fit: contain;
    padding: 15px 20px 10px 20px;
}

.header__right {
    padding: 10px 20px;
    margin: 10px 0;
}

.header__right Button {
    margin: 8px 10px 
}

.header__right ul {
    text-decoration: none;
}
