.post {
  background-color: white;
  width: 60vw;
  max-width: 550px;
  height: 100%;
  border: 1px solid lightgray;
  margin-bottom: 45px;
  justify-content: center;

  .post__image {
    width: 100%;
    object-fit: contain;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
  }

  .post__text {
    font-weight: normal;
    padding-left: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid lightgray;
  }

  .post__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .post__header__left {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 14px;

      .post__avatar {
        margin-right: 10px;
      }
    }

    .post__header__right {
      margin: 21px 14px 14px 14px;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: inherit;
        }
      }
    }

    .post__header__right {
      a a:hover {
        text-decoration: none;
      }
    }
  }
}

.post input {
  border: 1px solid lightgray;
  width: 400px;
  height: 30px;
  margin: 12px;
  padding: 10px 5px;
}

.post input:hover {
  border: 1px solid gray;
}

.post__text__comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid lightgray;
  .post__comment {
    margin-left: 1.2rem;
  }
}

.test {
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .post {
    max-width: 450px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .form__input {
    text-align: center;
    input {
      margin: 10px 0;
      padding: 10px;
      width: 80%;
      background-color: #fafafa;
      border: 0;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
      transition: 0.3s box-shadow;
      &:hover {
        box-shadow: 2px 2px 6px rgb(67, 130, 202);
        &::placeholder {
          color: rgb(0, 0, 0);
          text-align: center;
        }
      }
      &:focus {
        outline: none;
      }
    }
  }
  .form__button {
    text-align: center;
    button {
      width: 80%;
      height: 30px;
      background-color: #fafafa;
      border: 0;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
      transition: 0.3s box-shadow;
      padding: 0.2rem;
      margin: 0.5rem;
      color: gray;
      outline: none;
      &:hover {
        box-shadow: 2px 2px 6px rgb(67, 130, 202);
        color: rgb(92, 89, 89);
      }
    }
  }
}

.icon {
  margin: 0.4rem;
}
