.profile {
  background-color: white;
  max-width: 600px;
  min-width: 600px;
  border: 1px solid lightgray;
  margin-bottom: 45px;
  display: flex;
  flex-direction: row;
}

.profile__photo > img {
  object-fit: contain;
  height: 20vh;
  padding: 20px;
  border-radius: 50%;
}

.profile__data {
  display: flex;
  padding: 14px 0 14px 45px;
  flex-direction: column;
  flex-wrap: wrap;
}

.profile__data > h2 {
  padding-bottom: 10px;
}

@media (max-width: 767px) {
  .profile {
    max-width: 400px;
    min-width: 400px;
  }
}
