* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #ffffff;
}

.app {
  background: #ffffff;
  height: 100%;
}

.app__posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: inherit;
    color: black;
  }
}
